* {
    box-sizing: border-box;
    font-family: SF Pro;
    /* border: 1px solid red; */
}
@font-face {
    font-family: SF Pro;
    src: url(./fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
    font-family: SF Pro mid;
    src: url(./fonts/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
    font-family: SF Pro bold;
    src: url(./fonts/SFPRODISPLAYBOLD.OTF);
}
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(./images/pexels-tanathip-rattanatum-2026452.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    width: 80vw;
    height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 3px 8px;
    border: none;
    border-radius: 10px;
    display: flex;
    min-width: 800px;
    min-height: 500px;
    background-color: white;
}

/* List */
#content .list-container {
    min-width: 300px;
    width: 400px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px 0px 0px 10px ;
    padding: 15px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
#content .todo-container {
    flex-grow: 1;
    min-width: 500px;   
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0px 10px 10px 0px;
}
/* 6 default list */
.default-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    height: 300px;
    margin-bottom: 20px;
}
#content .default-list > button {
    all: unset;
    border-radius: 20px;
    background-color: rgb(218, 218, 218);
    cursor: pointer;
    padding: 10px 20px 13px 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
#content .default-list > button:hover {
    background-color: rgb(201, 199, 199);
}
#content .default-list > button:active {
    background-color: rgb(168, 168, 168);
}
.default-list > button .btn-name {
    color: rgb(73, 73, 73);
    font-family: SF Pro mid;
    font-weight: 700;
}
.default-list .number-of-item-inside {
    color: rgb(73, 73, 73);
    font-family: SF Pro bold;
    font-size: 28px;
    
}
.default-list > button > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.default-list > button .logo{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 236);
    color: white;
}
.default-list > button:nth-child(1) .logo{
    background-color: rgb(61, 122, 255);
}
.default-list > button:nth-child(2) .logo{
    background-color: rgb(253, 47, 47);
}
.default-list > button:nth-child(3) .logo{
    background-color: rgb(29, 29, 29);
}
.default-list > button:nth-child(4) .logo{
    background-color: rgb(253, 149, 30);
}
.default-list > button:nth-child(5) .logo{
    background-color: rgb(133, 133, 133);
}
.default-list > button:nth-child(6) .logo{
    background-color: rgb(16, 177, 16);
}

/* List, and list add button */
.list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position:relative;
    overflow: auto;
}
.list > div:nth-child(1) {
    height: 20px;
    margin-left: 10px;
    font-family: SF Pro bold;
    color: rgb(168, 168, 168);
}
#list-add-div {
    position: sticky;
    bottom: 0px;
    background-color: rgb(236, 236, 236);
    min-height: 35px;
    display: flex;
    align-items: center;
}
.list-add {
    all: unset;
    height: 25px;
    width: 85px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: SF Pro mid;
    color: rgb(100, 100, 100);
    justify-content: center;
    border-radius: 5px;
}
.list-add span {
    font-size: 18px;
}
.list-add:hover {
    background-color: rgb(197, 197, 197);
    color: white;
}
.list-names {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
/* list input */
.list-names > div > .input-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    
}
.input-container > input {
    background-color: rgb(189, 189, 189);
    border-radius: 5px;
    padding: 3px;
    border: none;
    width: 80%;
}
.input-container > input:focus {
    outline: 2px solid rgb(97, 97, 97);

}
.input-container button {
    all: unset;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    min-height: 25px;
    border-radius: 12.5px;
}
.input-container button span{
    font-size: 20px;
}
.input-container button:hover {
    background-color: rgb(189, 189, 189);   
}

/* list after confirmed */
.list-names > div {
    display: flex;
    min-height: 45px;
    align-items: center;
    border-radius: 8px;
    color: rgb(41, 41, 41);
    cursor: pointer;
}
.list-names > div .list-logo {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(150, 150, 150);
}
.list-names > div .list-logo + div{
    margin-right: auto;
    font-size: 17px;
    max-width: 150px;
    overflow: hidden;
}
.number-of-item {
    margin-right: 10px;
    margin-left: 5px;
    font-family: SF Pro bold;
    font-size: 20px;
    color: rgb(133, 133, 133);;
}
.list-logo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-names > div:hover {
    background-color: rgb(218, 218, 218);
}
.list-names > div > button {
    all: unset;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    border-radius: 15px;
}
.list-names > div > button > span {
    font-size: 22px;
}
.list-names > div > button:hover {
    background-color: rgba(189, 189, 189);  
}

/* ToDo List */

.todo-container {
    padding: 15px 30px 15px 30px;
    display: grid;
    grid-template-rows: 35px 120px 1fr;
}
.add-btn {
    all: unset;
    min-width: 35px;
    min-height: 35px;
    border-radius: 17.5px;
    justify-self: end;
    cursor: pointer;
    color: rgb(100, 100, 100);
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-btn span {
    font-size: 30px;
}
.add-btn:hover {
    background-color:  rgb(197, 197, 197);;
}
.todo-container > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-list-name {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: rgb(100, 100, 100);
    font-size: 45px;
    overflow-wrap: anywhere;
    hyphens: auto;
}
.todo-number-of-item {
    color: rgb(100, 100, 100);
    font-size: 45px;
    font-family: 'Nunito', sans-serif;
    margin-right: 5px;
    font-weight: 600;
    margin-left: 20px;
}
.todo-list{
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
}

/* todos */
.todo-list > div {
    min-height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
}
.todo-list > div:hover {
    background-color: rgb(218, 218, 218);
}
/* todo input */
.todo-list > div > input {
    border: none;
    border-bottom: 1px solid gray;
    width: 85%;
    margin-left: 20px;
    margin-right: auto;
    padding: 2px;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: 600;
    background-color: transparent;
}
.todo-list > div > input:focus {
    outline: none;
}
.todo-list > div .todo-cancel {
    all: unset;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    border-radius: 15px;
}
.todo-list > div .todo-cancel:hover{
    background-color: rgba(189, 189, 189); 
}
/* todo after confirmed */
.note {
    flex-grow: 1;
    overflow-wrap: anywhere;
}